src/main/resources/wsdl/iTravelInsuredBeta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://itravelinsured.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://itravelinsured.com/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://itravelinsured.com/">
            <s:element name="Hello">
                <s:complexType/>
            </s:element>
            <s:element name="HelloResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="HelloResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GeneratePolicyNumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="agentNo" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GeneratePolicyNumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GeneratePolicyNumberResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendProposalEmail">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="DepartDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ReturnDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PolicyType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Travelers" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProposalRecipientEmailAddress" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="AgentEmailOverride" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendProposalEmailResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SendProposalEmailResult" type="tns:ITravelResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ITravelResponse">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
                    <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CvlUrl" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfNotice"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Warnings" type="tns:ArrayOfNotice"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Quote" type="tns:Quote"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PurchaseResponse" type="tns:PurchaseResponse"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfNotice">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Notice" nillable="true" type="tns:Notice"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Notice">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Details" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Quote">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Travelers" type="tns:ArrayOfTravelerQuote"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TotalTripCost" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TotalWholesale" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TotalServiceFee" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TotalTaxAmount" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TotalPremium" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ProgramType" type="s:short"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfTravelerQuote">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="TravelerQuote" nillable="true" type="tns:TravelerQuote"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="TravelerQuote">
                <s:complexContent mixed="false">
                    <s:extension base="tns:Traveler">
                        <s:sequence>
                            <s:element minOccurs="1" maxOccurs="1" name="WholesaleForTraveler" type="s:decimal"/>
                            <s:element minOccurs="1" maxOccurs="1" name="ServiceFeeForTraveler" type="s:decimal"/>
                            <s:element minOccurs="1" maxOccurs="1" name="TaxAmountForTraveler" type="s:decimal"/>
                            <s:element minOccurs="1" maxOccurs="1" name="PremiumForTraveler" type="s:decimal"/>
                            <s:element minOccurs="1" maxOccurs="1" name="IsFreeTraveler" type="s:boolean"/>
                            <s:element minOccurs="1" maxOccurs="1" name="IsCoveringFreeTraveler" type="s:boolean"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Traveler">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="BirthYear" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TripCost" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ReferralFeePercentage" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ReferralFeeDollarAmt" type="s:decimal"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="PostalFee" type="s:decimal"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="IsPrimary" type="s:boolean"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PurchaseResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="PolicyNo" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="Quote">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="DepartDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ReturnDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PolicyType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Travelers" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="QuoteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="QuoteResult" type="tns:ITravelResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Purchase">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="DepartDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ReturnDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PolicyType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Travelers" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Processor" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TravelerEmail" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="SendCvlViaPostal" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TripType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TripDestination" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OutsideAgentPin" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="AgentInvoice" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeFirstName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeLastName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeAddress" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeCity" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeState" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeePostalCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeCountry" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardBrand" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExpMonth" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExpYear" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="BankAcctNum" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="BankABACode" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PurchaseResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PurchaseResult" type="tns:ITravelResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ValidateAgent">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ValidateAgentResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ValidateAgentResult" type="tns:ITravelResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="EmailCvl">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="programNo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="cvlType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="EmailCvlResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailCvlResult" type="tns:ITravelResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PrintCvl">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="programNo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="cvlType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PrintCvlResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PrintCvlResult" type="tns:ITravelResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="string" nillable="true" type="s:string"/>
            <s:element name="ITravelResponse" nillable="true" type="tns:ITravelResponse"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="HelloSoapIn">
        <wsdl:part name="parameters" element="tns:Hello"/>
    </wsdl:message>
    <wsdl:message name="HelloSoapOut">
        <wsdl:part name="parameters" element="tns:HelloResponse"/>
    </wsdl:message>
    <wsdl:message name="GeneratePolicyNumberSoapIn">
        <wsdl:part name="parameters" element="tns:GeneratePolicyNumber"/>
    </wsdl:message>
    <wsdl:message name="GeneratePolicyNumberSoapOut">
        <wsdl:part name="parameters" element="tns:GeneratePolicyNumberResponse"/>
    </wsdl:message>
    <wsdl:message name="SendProposalEmailSoapIn">
        <wsdl:part name="parameters" element="tns:SendProposalEmail"/>
    </wsdl:message>
    <wsdl:message name="SendProposalEmailSoapOut">
        <wsdl:part name="parameters" element="tns:SendProposalEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="QuoteSoapIn">
        <wsdl:part name="parameters" element="tns:Quote"/>
    </wsdl:message>
    <wsdl:message name="QuoteSoapOut">
        <wsdl:part name="parameters" element="tns:QuoteResponse"/>
    </wsdl:message>
    <wsdl:message name="PurchaseSoapIn">
        <wsdl:part name="parameters" element="tns:Purchase"/>
    </wsdl:message>
    <wsdl:message name="PurchaseSoapOut">
        <wsdl:part name="parameters" element="tns:PurchaseResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateAgentSoapIn">
        <wsdl:part name="parameters" element="tns:ValidateAgent"/>
    </wsdl:message>
    <wsdl:message name="ValidateAgentSoapOut">
        <wsdl:part name="parameters" element="tns:ValidateAgentResponse"/>
    </wsdl:message>
    <wsdl:message name="EmailCvlSoapIn">
        <wsdl:part name="parameters" element="tns:EmailCvl"/>
    </wsdl:message>
    <wsdl:message name="EmailCvlSoapOut">
        <wsdl:part name="parameters" element="tns:EmailCvlResponse"/>
    </wsdl:message>
    <wsdl:message name="PrintCvlSoapIn">
        <wsdl:part name="parameters" element="tns:PrintCvl"/>
    </wsdl:message>
    <wsdl:message name="PrintCvlSoapOut">
        <wsdl:part name="parameters" element="tns:PrintCvlResponse"/>
    </wsdl:message>
    <wsdl:message name="HelloHttpGetIn"/>
    <wsdl:message name="HelloHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GeneratePolicyNumberHttpGetIn">
        <wsdl:part name="agentNo" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GeneratePolicyNumberHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="SendProposalEmailHttpGetIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="State" type="s:string"/>
        <wsdl:part name="DepartDate" type="s:string"/>
        <wsdl:part name="ReturnDate" type="s:string"/>
        <wsdl:part name="PolicyType" type="s:string"/>
        <wsdl:part name="Travelers" type="s:string"/>
        <wsdl:part name="ProposalRecipientEmailAddress" type="s:string"/>
        <wsdl:part name="AgentEmailOverride" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="SendProposalEmailHttpGetOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="QuoteHttpGetIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="State" type="s:string"/>
        <wsdl:part name="DepartDate" type="s:string"/>
        <wsdl:part name="ReturnDate" type="s:string"/>
        <wsdl:part name="PolicyType" type="s:string"/>
        <wsdl:part name="Travelers" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="QuoteHttpGetOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="PurchaseHttpGetIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="State" type="s:string"/>
        <wsdl:part name="DepartDate" type="s:string"/>
        <wsdl:part name="ReturnDate" type="s:string"/>
        <wsdl:part name="PolicyType" type="s:string"/>
        <wsdl:part name="Travelers" type="s:string"/>
        <wsdl:part name="Processor" type="s:string"/>
        <wsdl:part name="Email" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="Address1" type="s:string"/>
        <wsdl:part name="Address2" type="s:string"/>
        <wsdl:part name="City" type="s:string"/>
        <wsdl:part name="PostalCode" type="s:string"/>
        <wsdl:part name="Country" type="s:string"/>
        <wsdl:part name="Phone" type="s:string"/>
        <wsdl:part name="TravelerEmail" type="s:string"/>
        <wsdl:part name="SendCvlViaPostal" type="s:string"/>
        <wsdl:part name="TripType" type="s:string"/>
        <wsdl:part name="TripDestination" type="s:string"/>
        <wsdl:part name="OutsideAgentPin" type="s:string"/>
        <wsdl:part name="AgentInvoice" type="s:string"/>
        <wsdl:part name="PaymentMethod" type="s:string"/>
        <wsdl:part name="PayeeFirstName" type="s:string"/>
        <wsdl:part name="PayeeLastName" type="s:string"/>
        <wsdl:part name="PayeeAddress" type="s:string"/>
        <wsdl:part name="PayeeCity" type="s:string"/>
        <wsdl:part name="PayeeState" type="s:string"/>
        <wsdl:part name="PayeePostalCode" type="s:string"/>
        <wsdl:part name="PayeeCountry" type="s:string"/>
        <wsdl:part name="CardNumber" type="s:string"/>
        <wsdl:part name="CardBrand" type="s:string"/>
        <wsdl:part name="ExpMonth" type="s:string"/>
        <wsdl:part name="ExpYear" type="s:string"/>
        <wsdl:part name="BankName" type="s:string"/>
        <wsdl:part name="BankAcctNum" type="s:string"/>
        <wsdl:part name="BankABACode" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="PurchaseHttpGetOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateAgentHttpGetIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ValidateAgentHttpGetOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="EmailCvlHttpGetIn">
        <wsdl:part name="userId" type="s:string"/>
        <wsdl:part name="password" type="s:string"/>
        <wsdl:part name="programNo" type="s:string"/>
        <wsdl:part name="cvlType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="EmailCvlHttpGetOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="PrintCvlHttpGetIn">
        <wsdl:part name="userId" type="s:string"/>
        <wsdl:part name="password" type="s:string"/>
        <wsdl:part name="programNo" type="s:string"/>
        <wsdl:part name="cvlType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="PrintCvlHttpGetOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="HelloHttpPostIn"/>
    <wsdl:message name="HelloHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GeneratePolicyNumberHttpPostIn">
        <wsdl:part name="agentNo" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GeneratePolicyNumberHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="SendProposalEmailHttpPostIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="State" type="s:string"/>
        <wsdl:part name="DepartDate" type="s:string"/>
        <wsdl:part name="ReturnDate" type="s:string"/>
        <wsdl:part name="PolicyType" type="s:string"/>
        <wsdl:part name="Travelers" type="s:string"/>
        <wsdl:part name="ProposalRecipientEmailAddress" type="s:string"/>
        <wsdl:part name="AgentEmailOverride" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="SendProposalEmailHttpPostOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="QuoteHttpPostIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="State" type="s:string"/>
        <wsdl:part name="DepartDate" type="s:string"/>
        <wsdl:part name="ReturnDate" type="s:string"/>
        <wsdl:part name="PolicyType" type="s:string"/>
        <wsdl:part name="Travelers" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="QuoteHttpPostOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="PurchaseHttpPostIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="State" type="s:string"/>
        <wsdl:part name="DepartDate" type="s:string"/>
        <wsdl:part name="ReturnDate" type="s:string"/>
        <wsdl:part name="PolicyType" type="s:string"/>
        <wsdl:part name="Travelers" type="s:string"/>
        <wsdl:part name="Processor" type="s:string"/>
        <wsdl:part name="Email" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="Address1" type="s:string"/>
        <wsdl:part name="Address2" type="s:string"/>
        <wsdl:part name="City" type="s:string"/>
        <wsdl:part name="PostalCode" type="s:string"/>
        <wsdl:part name="Country" type="s:string"/>
        <wsdl:part name="Phone" type="s:string"/>
        <wsdl:part name="TravelerEmail" type="s:string"/>
        <wsdl:part name="SendCvlViaPostal" type="s:string"/>
        <wsdl:part name="TripType" type="s:string"/>
        <wsdl:part name="TripDestination" type="s:string"/>
        <wsdl:part name="OutsideAgentPin" type="s:string"/>
        <wsdl:part name="AgentInvoice" type="s:string"/>
        <wsdl:part name="PaymentMethod" type="s:string"/>
        <wsdl:part name="PayeeFirstName" type="s:string"/>
        <wsdl:part name="PayeeLastName" type="s:string"/>
        <wsdl:part name="PayeeAddress" type="s:string"/>
        <wsdl:part name="PayeeCity" type="s:string"/>
        <wsdl:part name="PayeeState" type="s:string"/>
        <wsdl:part name="PayeePostalCode" type="s:string"/>
        <wsdl:part name="PayeeCountry" type="s:string"/>
        <wsdl:part name="CardNumber" type="s:string"/>
        <wsdl:part name="CardBrand" type="s:string"/>
        <wsdl:part name="ExpMonth" type="s:string"/>
        <wsdl:part name="ExpYear" type="s:string"/>
        <wsdl:part name="BankName" type="s:string"/>
        <wsdl:part name="BankAcctNum" type="s:string"/>
        <wsdl:part name="BankABACode" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="PurchaseHttpPostOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="ValidateAgentHttpPostIn">
        <wsdl:part name="UserId" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ValidateAgentHttpPostOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="EmailCvlHttpPostIn">
        <wsdl:part name="userId" type="s:string"/>
        <wsdl:part name="password" type="s:string"/>
        <wsdl:part name="programNo" type="s:string"/>
        <wsdl:part name="cvlType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="EmailCvlHttpPostOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:message name="PrintCvlHttpPostIn">
        <wsdl:part name="userId" type="s:string"/>
        <wsdl:part name="password" type="s:string"/>
        <wsdl:part name="programNo" type="s:string"/>
        <wsdl:part name="cvlType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="PrintCvlHttpPostOut">
        <wsdl:part name="Body" element="tns:ITravelResponse"/>
    </wsdl:message>
    <wsdl:portType name="iTIapiSoap">
        <wsdl:operation name="Hello">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simple method to test system availability</wsdl:documentation>
            <wsdl:input message="tns:HelloSoapIn"/>
            <wsdl:output message="tns:HelloSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GeneratePolicyNumber">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate a new policy number</wsdl:documentation>
            <wsdl:input message="tns:GeneratePolicyNumberSoapIn"/>
            <wsdl:output message="tns:GeneratePolicyNumberSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendProposalEmail">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Gets a travel insurance quote and sends a proposal.
            </wsdl:documentation>
            <wsdl:input message="tns:SendProposalEmailSoapIn"/>
            <wsdl:output message="tns:SendProposalEmailSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Quote">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a travel insurance quote</wsdl:documentation>
            <wsdl:input message="tns:QuoteSoapIn"/>
            <wsdl:output message="tns:QuoteSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Purchase">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a travel insurance purchase request</wsdl:documentation>
            <wsdl:input message="tns:PurchaseSoapIn"/>
            <wsdl:output message="tns:PurchaseSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateAgent">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simply validate the credentials of an agent</wsdl:documentation>
            <wsdl:input message="tns:ValidateAgentSoapIn"/>
            <wsdl:output message="tns:ValidateAgentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="EmailCvl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Coverage Verification Letter via e-mail</wsdl:documentation>
            <wsdl:input message="tns:EmailCvlSoapIn"/>
            <wsdl:output message="tns:EmailCvlSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PrintCvl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">View/Print a Coverage Verification Letter</wsdl:documentation>
            <wsdl:input message="tns:PrintCvlSoapIn"/>
            <wsdl:output message="tns:PrintCvlSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="iTIapiHttpGet">
        <wsdl:operation name="Hello">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simple method to test system availability</wsdl:documentation>
            <wsdl:input message="tns:HelloHttpGetIn"/>
            <wsdl:output message="tns:HelloHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GeneratePolicyNumber">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate a new policy number</wsdl:documentation>
            <wsdl:input message="tns:GeneratePolicyNumberHttpGetIn"/>
            <wsdl:output message="tns:GeneratePolicyNumberHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendProposalEmail">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Gets a travel insurance quote and sends a proposal.
            </wsdl:documentation>
            <wsdl:input message="tns:SendProposalEmailHttpGetIn"/>
            <wsdl:output message="tns:SendProposalEmailHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="Quote">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a travel insurance quote</wsdl:documentation>
            <wsdl:input message="tns:QuoteHttpGetIn"/>
            <wsdl:output message="tns:QuoteHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="Purchase">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a travel insurance purchase request</wsdl:documentation>
            <wsdl:input message="tns:PurchaseHttpGetIn"/>
            <wsdl:output message="tns:PurchaseHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateAgent">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simply validate the credentials of an agent</wsdl:documentation>
            <wsdl:input message="tns:ValidateAgentHttpGetIn"/>
            <wsdl:output message="tns:ValidateAgentHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="EmailCvl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Coverage Verification Letter via e-mail</wsdl:documentation>
            <wsdl:input message="tns:EmailCvlHttpGetIn"/>
            <wsdl:output message="tns:EmailCvlHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="PrintCvl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">View/Print a Coverage Verification Letter</wsdl:documentation>
            <wsdl:input message="tns:PrintCvlHttpGetIn"/>
            <wsdl:output message="tns:PrintCvlHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="iTIapiHttpPost">
        <wsdl:operation name="Hello">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simple method to test system availability</wsdl:documentation>
            <wsdl:input message="tns:HelloHttpPostIn"/>
            <wsdl:output message="tns:HelloHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GeneratePolicyNumber">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate a new policy number</wsdl:documentation>
            <wsdl:input message="tns:GeneratePolicyNumberHttpPostIn"/>
            <wsdl:output message="tns:GeneratePolicyNumberHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendProposalEmail">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Gets a travel insurance quote and sends a proposal.
            </wsdl:documentation>
            <wsdl:input message="tns:SendProposalEmailHttpPostIn"/>
            <wsdl:output message="tns:SendProposalEmailHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="Quote">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a travel insurance quote</wsdl:documentation>
            <wsdl:input message="tns:QuoteHttpPostIn"/>
            <wsdl:output message="tns:QuoteHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="Purchase">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a travel insurance purchase request</wsdl:documentation>
            <wsdl:input message="tns:PurchaseHttpPostIn"/>
            <wsdl:output message="tns:PurchaseHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateAgent">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simply validate the credentials of an agent</wsdl:documentation>
            <wsdl:input message="tns:ValidateAgentHttpPostIn"/>
            <wsdl:output message="tns:ValidateAgentHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="EmailCvl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a Coverage Verification Letter via e-mail</wsdl:documentation>
            <wsdl:input message="tns:EmailCvlHttpPostIn"/>
            <wsdl:output message="tns:EmailCvlHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="PrintCvl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">View/Print a Coverage Verification Letter</wsdl:documentation>
            <wsdl:input message="tns:PrintCvlHttpPostIn"/>
            <wsdl:output message="tns:PrintCvlHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="iTIapiSoap" type="tns:iTIapiSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Hello">
            <soap:operation soapAction="http://itravelinsured.com/Hello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GeneratePolicyNumber">
            <soap:operation soapAction="http://itravelinsured.com/GeneratePolicyNumber" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendProposalEmail">
            <soap:operation soapAction="http://itravelinsured.com/SendProposalEmail" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Quote">
            <soap:operation soapAction="http://itravelinsured.com/Quote" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Purchase">
            <soap:operation soapAction="http://itravelinsured.com/Purchase" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateAgent">
            <soap:operation soapAction="http://itravelinsured.com/ValidateAgent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EmailCvl">
            <soap:operation soapAction="http://itravelinsured.com/EmailCvl" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PrintCvl">
            <soap:operation soapAction="http://itravelinsured.com/PrintCvl" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="iTIapiSoap12" type="tns:iTIapiSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Hello">
            <soap12:operation soapAction="http://itravelinsured.com/Hello" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GeneratePolicyNumber">
            <soap12:operation soapAction="http://itravelinsured.com/GeneratePolicyNumber" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendProposalEmail">
            <soap12:operation soapAction="http://itravelinsured.com/SendProposalEmail" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Quote">
            <soap12:operation soapAction="http://itravelinsured.com/Quote" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Purchase">
            <soap12:operation soapAction="http://itravelinsured.com/Purchase" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateAgent">
            <soap12:operation soapAction="http://itravelinsured.com/ValidateAgent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EmailCvl">
            <soap12:operation soapAction="http://itravelinsured.com/EmailCvl" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PrintCvl">
            <soap12:operation soapAction="http://itravelinsured.com/PrintCvl" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="iTIapiHttpGet" type="tns:iTIapiHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="Hello">
            <http:operation location="/Hello"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GeneratePolicyNumber">
            <http:operation location="/GeneratePolicyNumber"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendProposalEmail">
            <http:operation location="/SendProposalEmail"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Quote">
            <http:operation location="/Quote"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Purchase">
            <http:operation location="/Purchase"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateAgent">
            <http:operation location="/ValidateAgent"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EmailCvl">
            <http:operation location="/EmailCvl"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PrintCvl">
            <http:operation location="/PrintCvl"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="iTIapiHttpPost" type="tns:iTIapiHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="Hello">
            <http:operation location="/Hello"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GeneratePolicyNumber">
            <http:operation location="/GeneratePolicyNumber"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendProposalEmail">
            <http:operation location="/SendProposalEmail"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Quote">
            <http:operation location="/Quote"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Purchase">
            <http:operation location="/Purchase"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateAgent">
            <http:operation location="/ValidateAgent"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EmailCvl">
            <http:operation location="/EmailCvl"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PrintCvl">
            <http:operation location="/PrintCvl"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="iTIapi">
        <wsdl:port name="iTIapiSoap" binding="tns:iTIapiSoap">
            <soap:address location="https://beta.itravelinsured.com/WebService/iTIapi.asmx"/>
        </wsdl:port>
        <wsdl:port name="iTIapiSoap12" binding="tns:iTIapiSoap12">
            <soap12:address location="https://beta.itravelinsured.com/WebService/iTIapi.asmx"/>
        </wsdl:port>
        <wsdl:port name="iTIapiHttpGet" binding="tns:iTIapiHttpGet">
            <http:address location="https://beta.itravelinsured.com/WebService/iTIapi.asmx"/>
        </wsdl:port>
        <wsdl:port name="iTIapiHttpPost" binding="tns:iTIapiHttpPost">
            <http:address location="https://beta.itravelinsured.com/WebService/iTIapi.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>